@model IPagedList<TagModel>
@{
    ViewData["Title"] = "Tags";
}

<div class="d-flex justify-content-between align-items-center my-3 card-header bg-deep-green text-white">
    <header class="">
        <h2>Tags</h2>
    </header>
    <div>
        <a class="btn btn-md btn-outline-light" asp-area="Admin" asp-controller="Tags" asp-action="Create">
            <div class="d-inline-block mr-1">
                <i class="fas fa-plus"></i>
            </div>Create
        </a>
    </div>
</div>
<div class="mb-3">
    <form class="form-inline" method="get" asp-area="Admin" asp-controller="Tags" asp-action="Index" asp-route-page="@Model.PageNumber">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="colgroup">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var tag in Model)
        {
            <tr>
                <th scope="row">@tag.Name</th>
                <td>
                    <div class="btn-group text-white" role="group" aria-label="Actions">
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Tags" asp-action="Update" asp-route-id="@tag.Id"><i class="fas fa-edit"></i>Edit</a>
                        <a class="btn btn-danger delete" asp-area="Admin" asp-controller="Tags" asp-action="Delete" asp-route-id="@tag.Id" data-confirm="Are you sure you want to delete this item?"><i class="far fa-trash-alt"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] {"page-item"},
            PageClasses = new string[] {"page-link"},
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            MaximumPageNumbersToDisplay = new int?(5)
        })
</div>
@section Scripts
{
    <script>
    areYouSure();
    </script>
}