@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using Microsoft.AspNetCore.Identity
@model FootballNews.WebApp.ViewModels.Article.ArticleModel

@{
    ViewBag.Title = Model.Title;
}
<div class="container d-flex justify-content-center flex-column border-bottom">
    <div class="mb-1" style="text-align:center">
        @if (Model.ImageAsBytes != null && Model.ImageAsBytes.Length > 0)
        {
            <img class="img-max-size" src="data:image/jpg;base64, @Convert.ToBase64String(Model.ImageAsBytes)" alt="@Model.ImageName">
        }
    </div>
    <div class="blog-main">
        <div class="pb-4 mb-4 border-bottom ">
            <span class="blog-post-meta">
                @Model.CreatedDate.ToString("dd'/'MM'/'yyyy HH:mm")
                przez <b>@Model.Author</b>
            </span>
            <h2 class="font-italic blog-post-title" id="articleTitle">
                @Model.Title
            </h2>

        </div>
        <div class="blog-post text-break">
            @Html.Raw(Model.Content)
        </div>
    </div>
    <div class="my-3">
        <a class="btn btn-outline-success" asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>
    </div>
    <div class="mt-2">
        <h5>Komentarze</h5>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <div id="comments-container" class="mt-3">

    </div>
}
else
{
    <div>
        Zaloguj się aby uzyskać dostęp do sekcji komentarzy.
        <br/>
        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Logowanie</a>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="/js/dist/jquery-comments.js"></script>
    <script>
$('#comments-container').comments({
    currentUserIsAdmin: @User.IsInRole(Role.Admin).ToString().ToLower(),
    currentUserId: '@UserManager.GetUserId(User)',
    enableReplying: true,
    enableEditing: true,
    enableUpvoting: false,
    enableDeleting: true,
    textareaPlaceholderText: "Dodaj komentarz",
    newestText: "Najnowsze",
    oldestText: "Najstarsze",
    popularText: "Popularne",
    sendText: "Wyślij",
    replyText: "Odpowiedz",
    noCommentsText: "Nie ma jeszcze żadnego komentarza",
    editText: "Edytuj",
    editedText: "Edytowano",
    saveText: "Zapisz",
    deleteText: "Usuń",

    refresh: function () {
        $('#comments-container').addClass('rendered');

    },
    getComments: function (success, error) {
        const articleTitle = document.getElementById('articleTitle').innerText;
        $.ajax({
            type: 'get',
            url: `/api/comments/${articleTitle}`,
            success: function (data) {
                const comments = mapModelToComment(data);
                success(comments);
            },
            error: error
        });
    },
    postComment: function (commentJSON, success, error) {
        const articleTitle = document.getElementById('articleTitle').innerText;
        const comment = {
            articleTitle: articleTitle,
            text: commentJSON.content,
            parentId: commentJSON.parent
        };
        $.ajax({
            type: 'post',
            url: '/api/comments/',
            contentType: "application/json",
            data: JSON.stringify(comment),
            success: function (result) {
                const comments = mapModelToComment(result);
                success(comments)
            },
            error: function (error) {
                console.log(error);
            }
        });
    },
    putComment: function (commentJSON, success, error) {
        const articleTitle = document.getElementById('articleTitle').innerText;
        const comment = {
            articleTitle: articleTitle,
            id: commentJSON.id,
            text: commentJSON.content,
            parentId: commentJSON.parent
        };
        $.ajax({
            type: 'put',
            url: '/api/comments/',
            contentType: "application/json",
            data: JSON.stringify(comment),
            success: function (comment) {
                const result = mapModelToComment(comment);
                success(result)
            },
            error: error
        });
    },
    deleteComment: function (commentJSON, success, error) {
        $.ajax({
            url: '/api/comments/' + commentJSON.id,
            type: 'DELETE',
            success: success,
            error: error
        });
    }

});

    </script>
}