
@model IPagedList<Article>
@{
    ViewData["Title"] = "Articles";
}

<div class="container-fluid">
    <div class="d-flex">
        <section class="flex-column col-lg-9 justify-content-center">
            @if (Model.Count == 0)
            {
                <div>There is no articles on this topic</div>
            }
            @foreach (var article in Model)
            {
                <article class="news-list__item mt-4 p-1 card">
                    <div class="row no-gutters">
                        <div class="col-4 p-0 align-middle mt-3">
                            @if (article.Image != null)
                            {
                                <img style="max-width: 100%; max-height: 100%" src="data:image/jpg;base64, @Convert.ToBase64String(article.Image)" alt="@article.ImageName">
                            }
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <div class="card-title justify-content-between d-flex">
                                    <span>
                                        <h5>@article.Title</h5>
                                    </span>
                                    <span class="card-text ml-2">
                                        <small class="text-muted">@article.CreatedAt.ToString("dd'/'MM'/'yyyy HH:mm") by
                                            <span class="font-weight-bold">
                                                @article.Author
                                            </span></small>
                                    </span>
                                </div>
                                <p class="card-text">@Html.Raw(article.Content)</p>
                                <div>
                                    <a asp-controller="Home" asp-action="Get" asp-route-title="@article.Title" class="btn btn-outline-primary">Continue reading</a>
                                </div>
                            </div>
                            <div class="d-flex flex-row my-3 tag-list">
                                @foreach (var tag in article.Tags)
                                {
                                    <a asp-controller="Home" asp-action="Index" asp-all-route-data="@Context.GetQueryParameters()" asp-route-tag="@tag.Name" class="tag-list__item">@tag.Name</a>
                                }
                            </div>
                        </div>
                    </div>
                </article>
            }
        </section>
        <aside class="col-md-3">
            @await Component.InvokeAsync("Tags")
            @if (!string.IsNullOrWhiteSpace(ViewBag.League))
            {
                @await Component.InvokeAsync("LeagueScoreTable", new {leagueName = ViewBag.League})
            }
        </aside>
    </div>
    <div class="d-flex ml-3 mt-2">
        @Html.PagedListPager(Model, page => Url.Action("Index", new {page = page}),
            new PagedListRenderOptions
            {
                
                LiElementClasses = new string[] {"page-item"},
                PageClasses = new string[] {"page-link"},
                LinkToPreviousPageFormat = "Newer",
                LinkToNextPageFormat = "Older",
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayLinkToIndividualPages = false
            })
    </div>
</div>