@model IPagedList<IndexViewModel>
@{
    ViewData["Title"] = "Użytkownicy";
}

<div class="d-flex justify-content-between align-items-center my-3 card-header bg-deep-green text-white">
    <header class="">
        <h2>Użytkownicy</h2>
    </header>
</div>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nazwa Użytkownika</th>
                <th scope="col">Email</th>
                <th scope="col">Rola</th>
               
                    <th scope="col">Akcje</th>
               
                </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.OrderBy(x=>x.Username))
            {
                <tr>
                    <th scope="row">@user.Username</th>
                    <td>@user.Email</td>
                    <td>@string.Join(",", user.Roles)</td>
                    <td>
                        <div class="btn-group text-white" role="group" aria-label="Actions">
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Manage" asp-action="Update" asp-route-id="@user.Id"><i class="fas fa-edit"></i>Edycja</a>
                            <a class="btn btn-danger delete" asp-area="Admin" asp-controller="Manage" asp-action="Delete" asp-route-id="@user.Id" data-confirm="Czy chcesz usunąć ten element?"><i class="far fa-trash-alt"></i>Usuń</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
        new PagedListRenderOptions
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" },
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            MaximumPageNumbersToDisplay = new int?(5)
        })
</div>