@model IPagedList<IndexArticleModel>
@{
    ViewData["Title"] = "Artykuły";
}

<div class="d-flex justify-content-between align-items-center my-3 card-header bg-deep-green text-white">
    <header class="">
        <h2>Artykuły</h2>
    </header>
    <div>
        @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Redaktor))
        {
            <a class="btn btn-md btn-outline-light" asp-area="Admin" asp-controller="Articles" asp-action="Create">
                <div class="d-inline-block mr-1">
                    <i class="fas fa-plus"></i>
                </div>
                Dodaj
            </a>
        }
        </div>
</div>
<div class="mb-3">
    <form class="form-inline" method="get" asp-area="Admin" asp-controller="Articles" asp-action="Index" asp-route-page="@Model.PageNumber">
        <input class="form-control mr-md-2" type="search" placeholder="Wprowadź szukaną fraze" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
    </form>
</div>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">Treść</th>
                <th scope="col">Zdjęcie</th>
                <th scope="col">Tagi</th>
                <th scope="col">Liga</th>
                <th scope="col">Data utworzenia</th>
                @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Redaktor))
                {
                    <th scope="col">Akcje</th>
                }
                </tr>
        </thead>
        <tbody>
            @foreach (var article in Model.OrderByDescending(x=>x.Created))
            {
            <tr>
                <td>@article.Title</td>
                <td>@article.Author</td>
                <td class="td-wrapped">@article.Content.RemoveHtml().LimitOnWordBoundary(200)</td>
                <td>
                    <div class="">
                        @if (article.ImageAsBytes != null && article.ImageAsBytes.Length > 0)
                        {
                            <img src="data:image/jpg;base64, @Convert.ToBase64String(article.ImageAsBytes)" alt="" class="img-thumbnail img-table">
                        }
                    </div>
                </td>
                <td>
                    <div class="d-flex flex-column">
                        @foreach (var tag in article.Tags)
                        {
                            <span class="border-bottom text-center">@tag</span>
                        }
                    </div>
                </td>
                <td>
                    @article.League
                </td>
                <td>
                    @article.Created
                </td>
                @if (User.IsInRole(Role.Admin) || User.IsInRole(Role.Redaktor))
                {
                    <td>
                        <div class="btn-group text-white" role="group" aria-label="Actions">
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Articles" asp-action="Update" asp-route-id="@article.Id"><i class="fas fa-edit"></i>Edycja</a>
                            <a class="btn btn-danger delete" asp-area="Admin" asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id" data-confirm="Chcesz usunąć ten element?"><i class="far fa-trash-alt"></i>Usuń</a>
                        </div>
                    </td>
                }
                </tr>
            }
        </tbody>
    </table>

    <div>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                MaximumPageNumbersToDisplay = new int?(5)
            })
    </div>
</div>

@section Scripts
{
    <script>
        areYouSure();
    </script>
}